body {
    background: linear-gradient(rgba(135, 119, 119, 0.6), rgba(135, 119, 119, 0.6)),
    url("../img/contact.jpg") ; 
    height: 100vh;
    background-position: center;
    margin: 0px;

    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Sorts Mill Goudy", serif;
    color: #0f2f1c;
}

p{
    font-size: 22px;
}

.flex {
    display: inline-block;
    justify-content: left;
    align-items: center;
}
.container {
    display: inline-block;

    
}
.about{
   
    margin-top: 150px;
}


.about-text {
    
    
    
    width: 60vw;
    margin: 45px auto 15px auto;
    text-align: center;
    margin-bottom: 150px;
    
}

.social-icons{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
}
.social-icons ul a{
    color: #fff;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;

}
.social-icons ul{
    display: flex;
    justify-content: space-around;
}
.social-icons ul a:hover{
    background: rgb(151, 109, 109);
    border-color: rgb(118, 85, 85);
}

@media screen and (max-width: 835px) {
   h1{
       margin-top: 150px;
       display: inline-block;
       
   }
   p{
       font-size: 17px;
   }
   .about-text{
       margin-bottom: 0px;
       margin: 2px auto 0px auto;
   }
   .social-icons{
       width: 260px;
   }
   .about{
    margin-top: 0px;
}
 
}


